<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheets/index.css" rel="stylesheet" type="text/css" media="all" />


<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="favicon.ico">

<!-- Animate.css -->
<link rel="stylesheet" href="/bootstrap/css2/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="/bootstrap/css2/icomoon.css">
<!-- Simple Line Icons -->
<link rel="stylesheet" href="/bootstrap/css2/simple-line-icons.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="/bootstrap/css2/bootstrap.css">
<!-- Owl Carousel  -->
<link rel="stylesheet" href="/bootstrap/css2/owl.carousel.min.css">
<link rel="stylesheet" href="/bootstrap/css2/owl.theme.default.min.css">
<!-- Style -->
<link rel="stylesheet" href="/bootstrap/css2/style.css">


<!-- Modernizr JS -->
<script src="js/modernizr-2.6.2.min.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <style>
    body
	{
		margin: 0px;
		padding: 0px;
		background: #F5F5F5;
		font-family: monospace;
		font-size: 10pt;
		font-weight: 150;
		color: #000000;
	}

    .button a{
        margin: 5px;
    }

    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 30px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    .welcome {
      background:#f2f2f2;
    }
  </style>
<!-- <div class="fluid-container"> -->

<!-- <div id="header-wrapper">
	<div id="banner" class="container">
		<div class="title">
			<h2>台灣AI金融市集</h2>
			<span class="byline">We provide the best services of finance.</span>
		</div>
	</div>
</div> -->



<!-- </div> -->


<!--Support-->
{{#if login}}

<section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
  <!-- <div class="gradient"></div> -->
  <div id="header-wrapper">
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="to-animate"><span>AI </span>Finance Market</h1>
            <h2 class="to-animate">We provide the best services of finance.</h2>
            <div class="call-to-action">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>


<section id="fh5co-services" data-section="services">
  <div class="fh5co-services">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center col-md-offset-2">
          <div class="box-services">
            <div class="icon to-animate">
              <span><i class="icon-people"></i></span>
            </div>
            <div class="fh5co-post to-animate">
              <h1><a href="/market">Customer</a><h1>
              <h5>Enter Market.<h5>
            </div>
          </div>
        </div>


          <div class="col-md-4 text-center">
          <div class="box-services">
            <div class="icon to-animate">
              <span><i class="icon-screen-desktop"></i></span>
            </div>
            <div class="fh5co-post to-animate">
              <h1><a href="https://dev.ifa.finance/hub/login">Developer</a></h1>
              <h5>Start Coding.<h5>
            </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-12 section-heading text-center clearfix">
            <h2 class="to-animate"><span>We Offer Services</span></h2>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 subtext">
                <h3 class="to-animate">You can develope your own programs and sell them, or simply buy products on our platform.</h3>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</section>


<!-- <div id="wrapper">
	<div class="text-center">
		<div id="two-column" class="container">
			<div class="tbox1">

				<br></p>
				<a href="/market"class="button button-alt">Customer</a>
				<br><br>
			</div>
			<div class="tbox2">

				<br></p>
				<a href="admin/admin" class="button button-alt">Developer</a>
				<br><br> -->
	<!-- 			<a href="http://127.0.0.1:3321/user/auth/facebook" class="button button-alt">Facebook Login</a>
	 -->

{{else}}

<section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
  <!-- <div class="gradient"></div> -->
  <div id="header-wrapper">
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="to-animate"><span>AI </span>Finance Market</h1>
            <h2 class="to-animate">We provide the best services of finance.</h2>
            <div class="call-to-action">
              <div class="banner">
                <a href="user/signup" class="demo to-animate">Register</a>
                <a href="user/login" class="download to-animate">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>



<!-- <div class="getting-started getting-started-1">
  <div class="getting-grid" style="background-image:  url(images/full_image_3.jpg);">
    <div class="desc">
      <h2>Getting <span>Started</span></h2>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
    </div>
  </div>
  <div class="getting-grid2">
    <div class="call-to-action text-center">
      <a href="user/signup" class="sign-up">Sign Up For Free</a>
      <br>
      <br>
      <a href="user/login">Already has account? Login now.</a>
    </div>
  </div>
</div> -->

<section id="fh5co-services" data-section="services">
  <div class="row">
    <div class="col-md-12 section-heading text-center clearfix">
      <h2 class="to-animate"><span>We Offer Services</span></h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 subtext">
          <h3 class="to-animate">You can develope your own programs and sell them, or simply buy products on our platform.</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fh5co-services" data-section="services">
  <div class="fh5co-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-heading text-center">
          <h2 class="to-animate"><span>Core Features</span></h2>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6 text-center">
          <div class="box-services">
            <div class="icon to-animate">
              <span><i class="icon-people"></i></span>
            </div>
            <div class="fh5co-post to-animate">
              <h3>Satisfied &amp; Happy Clients</h3>
              <p>Hyperledger blockchain protects the digital keys and sensitive data, all changes will record in to database.</p>
            </div>
          </div>
          </div>

          <div class="col-md-6 text-center">
          <div class="box-services">
            <div class="icon to-animate">
              <span><i class="icon-screen-desktop"></i></span>
            </div>
            <div class="fh5co-post to-animate">
              <h3>Looks Amazing on Devices</h3>
              <p>Our platform is designed by bootstrap, which can adjust layout through different devices.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="box-services">
            <div class="icon to-animate">
              <span><i class="icon-key"></i></span>
            </div>
            <div class="fh5co-post to-animate">
              <h3>Secure Account</h3>
              <p>We use Google Authenticator to secure your account.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="box-services">
            <div class="icon to-animate">
              <span><i class="icon-trophy"></i></span>
            </div>
            <div class="fh5co-post to-animate">
              <h3>Easy to use</h3>
              <p>We aim to make our platform intuitively obvious, and easily to use.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{{/if}}

<div id="welcome">
	<div class="container">
		<font color="black">
		&copy; GI. All rights reserved.
		</font>
	</div>
</div>
